/* /* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* add border: 2px with different colours to see where the boxes are */
body {
  border: 2px solid red; /* */
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.wrapper {
  border: 2px solid orange; /* */
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  /*display: flex; /* dosent look right */
  /*justify-content: space-between; /* */
}
/* Flex Container */
.flex-nav ul {
  border: 2px solid yellow; /* */
  /*border: 1px solid black; /* */
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* */
  justify-content: space-around; /* */
  
}

.flex-nav ul li{ /* */
  border: 2px solid green; /* */
  flex-wrap: wrap; /* ? */
  flex: 100%; /*  */
  /*flex: 3; /* is this ratio? */
}

.flex-nav ul li.social { /* make a smaller size? */
  border: 2px solid blue; /* */
  flex-wrap: wrap; /* ? */
  flex: 25%; /*  */
  /*flex: 1; /* */
}

a {
  border: 2px solid indigo; /* */
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  border: 2px solid violet; /* */
  background: rgba(0, 0, 0, 0.3);
}

@media all and (max-width: 1000px) {
  .flex-nav ul{
    flex-wrap: wrap; /* why do i need wrap here if its up above? */
  }
  .flex-nav ul li{ /* */
    flex: 50%; /* 50% is 2 columns 30% is 3*/
    }
  .flex-nav ul li.social{ /* */
    flex: 25%; /* */
    }
}

@media all and (max-width: 500px) {






}
